html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: ALS-Malina; src: url("fonts/malina-webfont.eot"); src: url("fonts/malina-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/malina-webfont.woff") format("woff"), url("fonts/malina-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Monotype-Corsiva; src: url("fonts/Monotype-Corsiva.eot"); src: url("fonts/Monotype-Corsiva.eot?#iefix") format("embedded-opentype"), url("fonts/Monotype-Corsiva.woff") format("woff"), url("fonts/Monotype-Corsiva.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "Open Sans", sans-serif; font-size: 14px; line-height: 1.4; }

.out { min-width: 970px; overflow: hidden; background: url(../img/bg-out.png) no-repeat 0 4555px; background-size: 100%; }

.header { height: 42px; color: white; line-height: 42px; background-color: #f5932f; border-bottom: 2px solid white; -moz-box-shadow: 0 2px 0 white; -webkit-box-shadow: 0 2px 0 white; box-shadow: 0 2px 0 white; background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: linear-gradient(to top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%); }
.header .header__phone { float: right; font-size: 24px; }

.menu { float: left; margin-top: 15px; height: 14px; line-height: 13px; overflow: hidden; }
.menu .menu__item { position: relative; padding: 0 6px; display: inline-block; }
.menu .menu__item:first-child:before { display: none; }
.menu .menu__item:before { position: absolute; content: ""; top: 0; left: -2px; width: 2px; height: 100%; background: white; }
.menu .menu__item a { color: white; font-size: 12px; text-transform: uppercase; text-decoration: underline; font-weight: bold; }
.menu .menu__item a:hover { text-decoration: none; }

.topic { position: relative; height: 720px; text-align: center; z-index: 1; background: url(../img/top-bg.png) no-repeat 50% 50%; background-size: cover; }
.topic .topic__left { width: 285px; display: inline-block; }
.topic .topic__left .topic__title { position: relative; color: white; font-size: 51px; font-family: "Monotype-Corsiva", Arial, sans-serif; }
.topic .topic__left .topic__title:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -12px 0 0 -12px; background: url('../img/icons-s0297ce8b7e.png') 0 -2882px no-repeat; width: 24px; height: 23px; }
.topic .topic__left .topic__text { position: relative; z-index: 3; padding: 5px 10px 5px 5px; color: #42324e; font-size: 21px; text-transform: uppercase; background: url(../img/arr8.png) no-repeat 0 0; background-size: contain; }
.topic .topic__right { padding-top: 35px; width: 290px; color: white; display: inline-block; }
.topic .topic__right .topic__phone { margin-bottom: 10px; font-size: 33px; font-weight: bold; }
.topic .topic__right .topic__btn { font-size: 18px; color: white; background: url('../img/icons-s0297ce8b7e.png') 0 -2915px no-repeat; width: 277px; height: 45px; }
.topic .topic__addres { line-height: 1.8; font-size: 16px; }
.topic .topic__center { margin-top: 115px; padding: 25px 55px 55px 85px; width: 966px; display: inline-block; background: url(../img/arr4.png) no-repeat 0 0; background-size: inherit; }
.topic .topic__center .topic__title-2 { width: 766px; font-size: 45px; text-shadow: 0 1px 1px white; font-family: "ALS-Malina", Arial, sans-serif; }
.topic .topic__text { font-size: 24px; font-weight: 600; text-transform: uppercase; text-shadow: 0 1px 1px white; }
.topic .topic__employment { margin-top: 10px; color: white; font-size: 45px; text-transform: uppercase; background: url(../img/arr1.png) no-repeat 50% 0; }

.bid { position: relative; padding: 60px 0 0; margin-top: -60px; height: 578px; background: url(../img/action-bg.png) no-repeat 50% 100%; background-size: cover; }
.bid .bid__bg { position: absolute; top: -75px; left: 60%; margin-left: -536px; z-index: 2; display: block; }
.bid .bid__title { position: relative; margin-left: 50px; color: #662d91; font-size: 35px; font-weight: 600; z-index: 3; text-transform: uppercase; }
.bid .bid__title:before { position: absolute; content: ""; top: -16px; left: -120px; z-index: -1; background: url('../img/icons-s0297ce8b7e.png') 0 -1740px no-repeat; width: 624px; height: 174px; }
.bid .bid__title .bid__bold { font-weight: 700; }
.bid .bid__form { float: left; margin-left: 15px; padding-top: 75px; }
.bid .bid__chief { position: relative; float: right; margin-top: 280px; color: #362f2d; z-index: 3; display: inline-block; }
.bid .bid__chief:before { position: absolute; content: ""; top: -15px; left: -48px; z-index: -1; background: url('../img/icons-s0297ce8b7e.png') 0 -1629px no-repeat; width: 359px; height: 101px; }
.bid .bid__chief .bid__title-2 { margin: 0; font-size: 32px; font-weight: 600; font-style: italic; }
.bid .bid__chief .bid__text { font-size: 19px; font-weight: 300; }

.btn { position: relative; display: inline-block; }
.btn.btn_red, .btn.btn_purple, .btn.btn_green { height: 30px; width: 100%; font-size: 16px; color: white; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; }
.btn.btn_red { background-color: #cd2755; background-image: -moz-linear-gradient(bottom, #cc2553 0%, #df4c7f 100%); background-image: -webkit-linear-gradient(bottom, #cc2553 0%, #df4c7f 100%); background-image: linear-gradient(to top, #cc2553 0%, #df4c7f 100%); }
.btn.btn_green { background-color: #38b348; background-image: -moz-linear-gradient(bottom, #2ba338 0%, #50c160 100%); background-image: -webkit-linear-gradient(bottom, #2ba338 0%, #50c160 100%); background-image: linear-gradient(to top, #2ba338 0%, #50c160 100%); }
.btn.btn_purple { background: url(../img/icons/btn-purple.png) no-repeat 0 0; background-size: cover; }
.btn:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95); opacity: 0.95; }
.btn:active { top: -1px; }
.btn:focus { outline: none; }

.form { position: relative; width: 457px; z-index: 3; }
.form .form__row { margin-bottom: 20px; }
.form .form__row input { padding: 0 16px; height: 69px; width: 100%; font-size: 18px; color: #e17423; border: 3px solid #f79733; background-color: white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form .form__row input:-moz-placeholder, .form .form__row input::-moz-placeholder { color: #e17423; opacity: 1; }
.form .form__row input::-webkit-input-placeholder { color: #e17423; }
.form .form__btn { height: 74px; width: 100%; font-size: 40px; color: white; -moz-border-radius: 15px/15px 15px 15px 15px; -webkit-border-radius: 1; border-radius: 15px/15px 15px 15px 15px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; background-color: #cd2755; background-image: -moz-linear-gradient(bottom, #cc2553 0%, #df4c7f 100%); background-image: -webkit-linear-gradient(bottom, #cc2553 0%, #df4c7f 100%); background-image: linear-gradient(to top, #cc2553 0%, #df4c7f 100%); }

.teacher .teacher__row { margin-bottom: 40px; *zoom: 1; }
.teacher .teacher__row:after { content: " "; display: table; clear: both; }
.teacher .teacher__row.teacher__row_hide { display: none; }
.teacher .teacher__block { position: relative; margin-top: 15px; *zoom: 1; }
.teacher .teacher__block:after { content: " "; display: table; clear: both; }
.teacher .teacher__title { padding: 0 18px; height: 42px; line-height: 40px; font-size: 30px; font-weight: 300; display: inline-block; border: 1px solid #ffd6ac; }
.teacher .teacher__img { float: left; }
.teacher .teacher__text { position: absolute; top: 0; left: 220px; right: 0; bottom: 0; overflow: hidden; padding-bottom: 70px; }
.teacher .teacher__text .btn_red, .teacher .teacher__text .btn_green { position: absolute; left: 0; top: auto; }
.teacher .teacher__text .btn_red { bottom: 39px; }
.teacher .teacher__text .btn_green { bottom: 0; }
.teacher .teacher__bottom { text-align: center; }
.teacher .teacher__btn { color: #662d91; font-size: 30px; text-decoration: underline; display: inline-block; background: url('../img/icons-s0297ce8b7e.png') 0 -2056px no-repeat; width: 401px; height: 64px; }
.teacher .teacher__btn:hover { text-decoration: none; }

.head { text-align: center; }

.img { position: relative; display: inline-block; }
.img:before { position: absolute; content: ""; left: 0; bottom: 0; width: 0px; height: 0px; border-style: solid; border-width: 20px 0 0 20px; border-color: transparent transparent transparent white; }
.img:after { position: absolute; content: ""; right: 0; top: 0; width: 0px; height: 0px; border-style: solid; border-width: 0 20px 20px 0; border-color: transparent white transparent transparent; }

.title { position: relative; margin: 20px 0; padding: 30px 70px 50px 60px; min-width: 810px; text-align: center; font-size: 51px; color: white; display: inline-block; background: url(../img/icons/arr5.png) no-repeat 0 0; background-size: 100%; font-family: "ALS-Malina", Arial, sans-serif; }

.title-line { position: relative; height: 49px; color: #464646; line-height: 46px; text-align: center; font-size: 26px; font-weight: 300; }
.title-line:before { position: absolute; content: ""; top: 0; left: 50%; margin-left: -295px; width: 589px; height: 1px; background: #662d91; }
.title-line:after { position: absolute; content: ""; bottom: 0; left: 50%; margin-left: -295px; width: 589px; height: 1px; background: #662d91; }
.title-line span { font-weight: 400; }

.partners .partners__col { padding: 20px 0 40px; *zoom: 1; }
.partners .partners__col:after { content: " "; display: table; clear: both; }
.partners .partners__img { float: left; margin-right: 12px; width: 302px; height: 238px; overflow: hidden; }
.partners .partners__text { color: #464646; }
.partners .partners__text.partners__text_padtop { padding-top: 40px; }
.partners .partners__video { float: left; margin-right: 15px; }

.video { display: inline-block; }
.video .video__title { padding-bottom: 5px; color: #662d91; font-size: 14px; font-weight: 600; text-align: center; text-transform: uppercase; text-decoration: none; display: block; }
.video .video__block img { display: block; }

.styles .styles__slider { *zoom: 1; }
.styles .styles__slider:after { content: " "; display: table; clear: both; }
.styles .cycle__item { width: 100%; height: 100%; *zoom: 1; }
.styles .cycle__item:after { content: " "; display: table; clear: both; }
.styles .cycle__left { padding-right: 20px; overflow: hidden; }
.styles .cycle__left span { font-weight: 600; }
.styles .cycle__right { position: relative; float: right; padding-bottom: 15px; overflow: hidden; }
.styles .cycle__right .cycle__view { position: absolute; right: 40px; bottom: 15px; font-size: 27px; font-weight: 600; font-style: italic; text-transform: uppercase; z-index: 2; color: white; }
.styles .cycle__right .cycle__view:before { position: absolute; content: ""; top: -1px; right: -15px; bottom: -4px; left: -20px; z-index: -1; background: url(../img/arr9.png) no-repeat 0 0; background-size: cover; }
.styles .center { padding: 0 50px 30px; text-align: center; }
.styles .center a { margin: 0 15px 15px 0; padding: 0 10px; height: 28px; line-height: 26px; color: #e64545; font-size: 18px; text-transform: uppercase; text-decoration: none; border: 1px solid #652d91; background-color: rgba(220, 128, 34, 0.1); display: inline-block; }
.styles .styles__bottom { padding: 40px 0 0 0; text-align: center; }
.styles .styles__bottom .btn { width: 252px; }

.pupil .pupil__head .title { padding-top: 45px; }
.pupil .pupil__slider { margin-top: 50px; }

.portfolio { position: relative; z-index: 60; }
.portfolio .portfolio:after { content: ""; display: block; width: 100%; position: absolute; left: 0px; bottom: 0px; height: 2px; }
.portfolio .superCar { list-style: none outside none; padding: 0px; margin: 0px auto; height: 341px; width: 590px; }
.portfolio .superCar li { width: 390px; height: 341px; cursor: pointer; }
.portfolio .superCar li img { display: block; width: 100%; left: 0px; top: 0px; position: relative; -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.2); -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.2); box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.2); }
.portfolio .superCar li.roundabout-in-focus { cursor: default; }
.portfolio .superCar li span { display: block; }
.portfolio .arrNext { display: block; position: absolute; margin: auto; right: -205px; cursor: pointer; text-indent: 0px; top: -40px; bottom: 0px; height: 74px; width: 36px; z-index: 1000; }
.portfolio .arrNext:before { position: absolute; content: ""; top: 50%; right: -4px; margin-top: -45px; background: url('../img/icons-s0297ce8b7e.png') 0 -2360px no-repeat; width: 47px; height: 89px; }
.portfolio .arrPrev { display: block; position: absolute; margin: auto; left: -215px; cursor: pointer; text-indent: 0px; top: -40px; bottom: 0px; height: 74px; width: 36px; z-index: 1000; }
.portfolio .arrPrev:before { position: absolute; content: ""; top: 50%; left: 0; margin-top: -45px; background: url('../img/icons-s0297ce8b7e.png') 0 -2261px no-repeat; width: 47px; height: 89px; }

.fancybox-inner { width: auto !important; height: auto !important; }
.fancybox-inner img { width: 100%; }

.honors { position: relative; }
.honors:before { position: absolute; content: ""; top: 46px; left: -82px; z-index: -1; background: url('../img/icons-s0297ce8b7e.png') 0 -99px no-repeat; width: 1181px; height: 561px; }
.honors .honors__title { position: relative; font-size: 40px; font-weight: 400; color: white; z-index: 2; display: inline-block; font-family: "ALS-Malina", Arial, sans-serif; }
.honors .honors__title:before { position: absolute; content: ""; top: -20px; left: -70px; z-index: -1; background: url('../img/icons-s0297ce8b7e.png') 0 0 no-repeat; width: 312px; height: 89px; }
.honors .honors__top { padding: 45px 0 70px; font-style: 0; text-align: center; }
.honors .honors__img { margin-right: 7px; width: 313px; height: 173px; display: inline-block; }
.honors .honors__img img { width: 100%; display: block; }
.honors .honors__slider { position: relative; z-index: 1; }
.honors .honors__slider:before { position: absolute; content: ""; top: -28px; left: -51px; z-index: -1; background: url('../img/icons-s0297ce8b7e.png') 0 -2544px no-repeat; width: 1123px; height: 280px; }
.honors .honors__slider .slick-slide img { margin-left: 2%; width: 98%; }

.slideshow { position: relative; }
.slideshow .slick-slide img { margin-left: 1%; width: 99%; }
.slideshow .slick-prev, .slideshow .slick-next { position: absolute; top: 0; height: 100%; width: 56px; margin: 0; z-index: 100; overflow: hidden; background-size: cover; }
.slideshow .slick-prev:before, .slideshow .slick-next:before { display: none; }
.slideshow .slick-prev:after, .slideshow .slick-next:after { position: absolute; content: ""; bottom: -214px; left: 0; width: 100%; height: 100%; background: rgba(243, 243, 243, 0.7); }
.slideshow .slick-prev:hover, .slideshow .slick-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95); opacity: 0.95; }
.slideshow .slick-prev { left: 0; background: url(../img/slick-prev.png) no-repeat 0 0; }
.slideshow .slick-next { right: 0; background: url(../img/slick-next.png) no-repeat 0 0; }

.action { height: 583px; background: url(../img/action2-bg.png) no-repeat 50% 50%; background-size: cover; *zoom: 1; }
.action:after { content: " "; display: table; clear: both; }
.action .action__left { display: inline-block; }
.action .action__top { position: relative; padding: 20px 0 30px; text-align: center; text-transform: uppercase; z-index: 2; }
.action .action__top:before { position: absolute; content: ""; top: 8px; left: 50%; margin-left: -212px; z-index: -1; background: url('../img/icons-s0297ce8b7e.png') 0 -670px no-repeat; width: 424px; height: 195px; }
.action .action__title { color: #662d91; font-size: 26px; font-weight: 700; }
.action .action__discount { color: white; font-size: 33px; }
.action .action__discount span { font-size: 23px; }
.action .action__right { padding-left: 15px; vertical-align: top; text-align: center; display: inline-block; }
.action .action__subscription { position: relative; padding: 20px 0 0 0; color: white; font-weight: 700; font-size: 50px; z-index: 1; }
.action .action__subscription:before { position: absolute; content: ""; top: 18px; left: -54px; z-index: -1; background: url('../img/icons-s0297ce8b7e.png') 0 -958px no-repeat; width: 348px; height: 154px; }
.action .action__subscription span { font-size: 20px; display: block; }
.action .action__oldprice { position: relative; margin-top: 30px; color: white; font-weight: 700; font-size: 40px; }
.action .action__oldprice span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.action .action__oldprice:before { position: absolute; content: ""; top: 25px; width: 100%; height: 5px; z-index: 1; background: #fb1f1f; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -ms-transform: rotate(-7deg); -webkit-transform: rotate(-7deg); transform: rotate(-7deg); }
.action .action__price { position: relative; margin: 75px 0 0 15px; color: #662d91; font-size: 97px; line-height: 0.7; font-weight: 700; z-index: 1; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); }
.action .action__price:before { position: absolute; content: ""; top: -78px; left: -43px; z-index: -1; background: url('../img/icons-s0297ce8b7e.png') 0 -1122px no-repeat; width: 311px; height: 311px; }
.action .action__price span { font-size: 66px; font-weight: 300; }
.action .form__row { margin-bottom: 10px; }
.action .form__row input { height: 62px; }
.action .action__dashboard { margin-bottom: 15px; padding: 8px 0 6px; text-align: center; overflow: hidden; background: url(../img/bg-dashboard.png) no-repeat 0 0; background-size: cover; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.dash { margin-left: 10px; font-size: 0; display: inline-block; }
.dash:first-child { margin-left: 0; }
.dash .digit { width: 40px; height: 70px; color: #4c4c4c; text-align: center; font-size: 52px; vertical-align: top; display: inline-block; background: url('../img/icons-s0297ce8b7e.png') 0 -875px no-repeat; width: 44px; height: 73px; }
.dash .dash_title { padding-top: 2px; font-size: 10px; }

.subscriptions .subscriptions__wrap { text-align: center; font-size: 0; }
.subscriptions .subscriptions__item { width: 20%; border: 1px solid white; background: #f4f4f4; display: inline-block; }
.subscriptions .subscriptions__top { height: 82px; }
.subscriptions .subscriptions__title { margin-bottom: 5px; color: #662d91; font-size: 30px; font-weight: 600; }
.subscriptions .subscriptions__title.subscriptions__title_mod { font-size: 17px; text-transform: uppercase; }
.subscriptions .subscriptions__title.subscriptions__title_ttu { text-transform: uppercase; }
.subscriptions .subscriptions__type { margin-bottom: 10px; color: #333333; font-size: 18px; font-weight: 300; text-transform: uppercase; }
.subscriptions .subscriptions__img { border-top: 1px solid white; border-bottom: 1px solid white; }
.subscriptions .subscriptions__img img { width: 100%; display: block; }
.subscriptions .subscriptions__price { padding: 10px 0; color: #f69430; font-size: 45px; line-height: 1.1; font-weight: 600; }
.subscriptions .subscriptions__price span { font-weight: 300; font-size: 28px; text-transform: uppercase; display: block; }
.subscriptions .subscriptions__btn { padding: 0 15px 15px; }

.lifestudio .lifestudio__row { padding-bottom: 20px; }
.lifestudio .lifestudio__video { margin-bottom: 20px; }
.lifestudio .lifestudio__video .video__title { font-size: 12px; }

.reviews .reviews__item { margin-bottom: 42px; }
.reviews .reviews__img { float: left; }
.reviews .reviews__text { position: relative; padding-bottom: 30px; height: 175px; padding-left: 15px; font-size: 13px; overflow: hidden; }
.reviews .reviews__text p { padding-right: 30px; }
.reviews .reviews__text a { font-size: 14px; color: #662d91; text-decoration: underline; }
.reviews .reviews__text a:hover { text-decoration: none; }
.reviews .reviews__title { margin: 0; padding-bottom: 5px; color: #363636; font-size: 14px; font-weight: 700; }
.reviews .reviews__btn { position: absolute; bottom: 0; left: 15px; font-size: 14px; color: #662d91; text-decoration: underline; background: none; }
.reviews .reviews__btn:hover { text-decoration: none; }

.map { margin-top: 40px; height: 740px; background: url(../img/map-bg.png) no-repeat 50% 50%; background-size: cover; }
.map .map__head { margin-top: -40px; }
.map .map__title { margin-top: 200px; width: 425px; color: white; font-size: 26px; font-weight: 700; text-align: center; text-transform: uppercase; }
.map .map__form { margin: 47px 0 0 35px; width: 376px; }
.map .map__form .form__row { margin-bottom: 15px; }
.map .map__form .form__row input { height: 63px; }
.map .map__addres { margin-top: 20px; border: 5px solid white; display: inline-block; }
.map .map__addres img { display: block; }

.questions { height: 110px; line-height: 110px; text-align: center; }
.questions .questions__title, .questions .questions__btn { vertical-align: middle; display: inline-block; }
.questions .questions__title { margin-right: 30px; color: #662d91; font-size: 45px; font-family: "ALS-Malina", Arial, sans-serif; }
.questions .questions__btn { color: #d73367; font-size: 33px; text-decoration: underline; background: none; }
.questions .questions__btn:hover { text-decoration: none; }

.contacts { padding-top: 36px; text-align: center; height: 255px; background: url(../img/contacts-bg.png) no-repeat 50% 50%; background-size: 100%; }
.contacts .contacts__logo { position: relative; color: white; text-align: center; font-size: 50px; font-family: "Monotype-Corsiva", Arial, sans-serif; }
.contacts .contacts__logo:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -8px 0 0 -6px; background: url('../img/icons-s0297ce8b7e.png') 0 -2882px no-repeat; width: 24px; height: 23px; }
.contacts .contacts__text { color: #3e3e3e; font-size: 28px; }
.contacts .contacts__callback, .contacts .contacts__logo, .contacts .contacts__text { margin: 0 25px; vertical-align: top; display: inline-block; }
.contacts .contacts__phone { padding-bottom: 10px; color: white; font-size: 33px; font-weight: 700; }
.contacts .contacts__addres { padding-top: 4px; font-size: 16px; color: white; }

.footer { height: 98px; line-height: 98px; color: gray; font-size: 14px; text-align: right; }
.footer .footer__text, .footer .footer__development, .footer .footer__ico { vertical-align: middle; display: inline-block; }
.footer .footer__development { height: 40px; line-height: 40px; margin-left: 108px; }
.footer .footer__development span { vertical-align: top; display: inline-block; }
.footer .footer__ico { vertical-align: top; background: url('../img/icons-s0297ce8b7e.png') 0 -2834px no-repeat; width: 115px; height: 38px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
