// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

+font(ALS-Malina, malina-webfont)  
=mal
	font-family: "ALS-Malina", Arial, sans-serif 

+font(Monotype-Corsiva, Monotype-Corsiva)  
=mc
	font-family: "Monotype-Corsiva", Arial, sans-serif 

body
	font-family: "Open Sans", sans-serif
	font-size: 14px 
	line-height: 1.4


// common blocks      

.out
	min-width: 970px
	overflow: hidden
	background: url(../img/bg-out.png) no-repeat 0 4555px
	background-size: 100%

//header
.header
	height: 42px
	color: #fff
	line-height: 42px
	background-color: #f5932f
	border-bottom: 2px solid #fff
	+box-shadow(0 2px 0 #fff)
	+background-image(linear-gradient(bottom, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%))
	.header__phone
		float: right
		font-size: 24px

//menu
.menu
	float: left
	margin-top: 15px
	height: 14px
	line-height: 13px
	overflow: hidden
	.menu__item
		position: relative
		padding: 0 6px
		display: inline-block
		&:first-child
			&:before
				display: none
		&:before
			position: absolute
			content: ''
			top: 0
			left: -2px
			width: 2px
			height: 100%
			background: #fff
		a
			color: #fff
			font-size: 12px
			text-transform: uppercase
			text-decoration: underline
			font-weight: bold
			&:hover
				text-decoration: none

//topic
.topic
	position: relative
	height: 720px
	text-align: center
	z-index: 1
	background: url(../img/top-bg.png) no-repeat 50% 50%
	background-size: cover
	.topic__left
		width: 285px
		display: inline-block
		.topic__title
			position: relative
			color: #fff
			font-size: 51px
			+mc
			&:before
				position: absolute
				content: ''
				top: 50%
				left: 50%
				margin: -12px 0 0 -12px
				+s(star)

		.topic__text
			position: relative
			z-index: 3
			padding: 5px 18px 5px 5px
			color: #42324e
			font-size: 20px
			text-transform: uppercase
			background: url(../img/arr8.png) no-repeat 0 0
			background-size: contain
	.topic__right
		padding-top: 35px
		width: 290px
		color: #fff
		display: inline-block
		.topic__phone
			margin-bottom: 10px
			font-size: 33px
			font-weight: bold
		.topic__btn
			font-size: 18px
			color: #fff
			+s(topic-callback)
	.topic__addres
		line-height: 1.8
		font-size: 16px
	.topic__center
		margin-top: 115px
		padding: 25px 55px 55px 85px
		width: 966px
		display: inline-block
		background: url(../img/arr4.png) no-repeat 0 0
		background-size: inherit
		.topic__title-2
			width: 766px
			font-size: 45px
			+text-shadow(0 1px 1px #fff)
			+mal
	.topic__text
		font-size: 24px
		font-weight: 600
		text-transform: uppercase
		+text-shadow(0 1px 1px #fff)
	.topic__employment
		margin-top: 10px
		color: #fff
		font-size: 45px
		text-transform: uppercase
		background: url(../img/arr1.png) no-repeat 50% 0 

//bid
.bid
	position: relative
	padding: 60px 0 0
	margin-top: -60px
	height: 578px
	background: url(../img/action-bg.png) no-repeat 50% 100%
	background-size: cover
	// .conteiner
	// 	position: relative !important
	.bid__bg
		position: absolute
		top: -75px
		left: 60%
		margin-left: -536px
		z-index: 2
		display: block
	.bid__title
		position: relative
		margin-left: 50px
		color: #662d91
		font-size: 35px
		font-weight: 600
		z-index: 3
		text-transform: uppercase
		&:before
			position: absolute
			content: ''
			top: -16px
			left: -120px
			z-index: -1
			+s(arr3)
		.bid__bold
			font-weight: 700
	.bid__form
		float: left
		margin-left: 15px
		padding-top: 75px
	.bid__chief
		position: relative
		float: right
		margin-top: 280px
		color: #362f2d
		z-index: 3
		display: inline-block
		&:before
			position: absolute 
			content: ''
			top: -15px
			left: -48px
			z-index: -1
			+s(arr2)
		.bid__title-2
			margin: 0
			font-size: 32px
			font-weight: 600
			font-style: italic
		.bid__text
			font-size: 19px
			font-weight: 300

//btn
.btn
	position: relative
	display: inline-block
	&.btn_red,
	&.btn_purple,
	&.btn_green
		height: 30px
		width: 100%
		font-size: 16px
		color: #fff
		+border-radius(4px)
		+background-clip(padding-box)
	&.btn_red
		background-color: #cd2755
		+background-image(linear-gradient(bottom, #cc2553 0%, #df4c7f 100%))
	&.btn_green
		background-color: #38b348
		+background-image(linear-gradient(bottom, #2ba338 0%, #50c160 100%))
	&.btn_purple
		background: url(../img/icons/btn-purple.png) no-repeat 0 0
		background-size: cover
	&:hover
		+opacity(0.95)
	&:active
		top: -1px
	&:focus
		outline: none

//form
.form
	position: relative
	width: 457px
	z-index: 3
	.form__row
		margin-bottom: 20px
		input
			padding: 0 16px
			height: 69px
			width: 100%
			font-size: 18px
			color: #e17423 
			border: 3px solid #f79733
			background-color: #fff
			+placeholder-color(#e17423)
			+box
	.form__btn
		height: 74px
		width: 100%
		font-size: 40px
		color: #fff
		+border-radius(15px / 15px 15px 15px 15px)
		+background-clip(padding-box)
		background-color: #cd2755
		+background-image(linear-gradient(bottom, #cc2553 0%, #df4c7f 100%))

//teacher
.teacher
	.teacher__row
		margin-bottom: 40px
		+clr
		&.teacher__row_hide
			display: none
	// .teacher__col
	.teacher__block
		position: relative
		margin-top: 15px
		+clr
	.teacher__title
		padding: 0 18px
		height: 42px
		line-height: 40px	
		font-size: 30px
		font-weight: 300
		display: inline-block
		border: 1px solid #ffd6ac
	.teacher__img
		float: left
	.teacher__text
		position: absolute
		top: 0
		left: 220px
		right: 0
		bottom: 0
		overflow: hidden
		padding-bottom: 70px
		.btn_red,
		.btn_green
			position: absolute
			left: 0
			top: auto
		.btn_red
			bottom: 39px
		.btn_green
			bottom: 0
	// .title
	// 	&:before
	// 		+s(arr5)
	.teacher__bottom
		text-align: center
	.teacher__btn
		color: #662d91
		font-size: 30px
		text-decoration: underline
		display: inline-block
		+s(arr6)
		&:hover
			text-decoration: none
//head
.head
	text-align: center

//img
.img
	position: relative
	display: inline-block
	&:before
		position: absolute
		content: ''
		left: 0
		bottom: 0
		+arr(20, 20, #fff, bl)
	&:after
		position: absolute
		content: ''
		right: 0
		top: 0
		+arr(20, 20, #fff, tr)

//title
.title
	position: relative
	margin: 20px 0
	padding: 30px 70px 50px 60px
	min-width: 810px
	text-align: center
	font-size: 51px
	color: #fff
	display: inline-block
	background: url(../img/icons/arr5.png) no-repeat 0 0
	background-size: 100%
	+mal

//title-line
.title-line
	position: relative
	height: 49px
	color: #464646
	line-height: 46px
	text-align: center
	font-size: 26px
	font-weight: 300
	&:before
		position: absolute
		content: ''
		top: 0
		left: 50%
		margin-left: -295px
		width: 589px
		height: 1px
		background: #662d91
	&:after
		position: absolute
		content: ''
		bottom: 0
		left: 50%
		margin-left: -295px
		width: 589px
		height: 1px
		background: #662d91
	span
		font-weight: 400

//partners
.partners
	// .partners__row
	// .partners__title

	.partners__col
		padding: 20px 0 40px
		+clr
	.partners__img
		float: left
		margin-right: 12px
		width: 302px
		height: 238px
		overflow: hidden
	.partners__text
		color: #464646
		&.partners__text_padtop
			padding-top: 40px
	.partners__video 
		float: left
		margin-right: 15px

//video
.video
	display: inline-block
	.video__title
		padding-bottom: 5px
		color: #662d91
		font-size: 14px
		font-weight: 600
		text-align: center
		text-transform: uppercase
		text-decoration: none
		display: block
	.video__block
		img
			display: block

//styles
.styles
	.styles__slider
		+clr
	.cycle__item
		width: 100%
		height: 100%
		+clr
	.cycle__left
		padding-right: 20px
		overflow: hidden
		span
			font-weight: 600
	.cycle__right
		position: relative
		float: right
		padding-bottom: 15px
		overflow: hidden
		.cycle__view
			position: absolute
			right: 40px
			bottom: 15px
			font-size: 27px
			font-weight: 600
			font-style: italic
			text-transform: uppercase
			z-index: 2
			color: #fff
			&:before
				position: absolute
				content: ''
				top: -1px
				right: -15px
				bottom: -4px
				left: -20px
				z-index: -1
				background: url(../img/arr9.png) no-repeat 0 0
				background-size: cover
	.center
		padding: 0 50px 30px
		text-align: center
		a
			margin: 0 15px 15px 0
			padding: 0 10px
			height: 28px
			line-height: 26px
			color: #e64545
			font-size: 18px
			text-transform: uppercase
			text-decoration: none
			border: 1px solid #652d91
			background-color: rgba(220,128,34,.1)
			display: inline-block
	.styles__bottom
		padding: 40px 0 0 0
		text-align: center
		.btn
			width: 252px
//pupil
.pupil
	.pupil__head
		.title
			padding-top: 45px
	.pupil__slider
		margin-top: 50px

.portfolio
	position: relative
	z-index: 60

	.portfolio:after 
		content: ""
		display: block
		width: 100%
		position: absolute
		left: 0px
		bottom: 0px
		height: 2px

	.superCar 
		list-style: none outside none
		padding: 0px
		margin: 0px auto
		height: 341px
		width: 590px

	.superCar 
		li 
			width: 390px
			height: 341px
			cursor: pointer

	.superCar 
		li 
			img 
				display: block
				width: 100%
				left: 0px
				top: 0px
				position: relative
				+box-shadow(5px 5px 5px 0px rgba(50, 50, 50, 0.2))

	.superCar li.roundabout-in-focus 
		cursor: default

	.superCar li span 
		display: block

	.arrNext 
		display: block
		position: absolute
		margin: auto
		right: -205px
		cursor: pointer
		text-indent: 0px
		top: -40px
		bottom: 0px
		height: 74px
		width: 36px
		z-index: 1000
		&:before
			position: absolute
			content: ''
			top: 50%
			right: -4px
			margin-top: -45px
			+s(arrPrev)

	.arrPrev 
		display: block
		position: absolute
		margin: auto
		left: -215px
		cursor: pointer
		text-indent: 0px
		top: -40px
		bottom: 0px
		height: 74px
		width: 36px
		z-index: 1000
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 0
			margin-top: -45px
			+s(arrNext)


//fancybox
.fancybox-inner
	width: auto !important
	height: auto !important
	img
		width: 100%
// .fancybox-wrap
// 	width: 835px !important

//honors
.honors
	position: relative
	&:before
		position: absolute
		content: ''
		top: 46px
		left: -82px
		z-index: -1	
		+s(arr11)
	.honors__title
		position: relative
		font-size: 40px
		font-weight: 400
		color: #fff
		z-index: 2
		display: inline-block
		+mal
		&:before
			position: absolute
			content: ''
			top: -20px
			left: -70px
			z-index: -1
			+s(arr10)
	.honors__top
		padding: 45px 0 70px
		font-style: 0
		text-align: center
	.honors__img
		margin-right: 7px
		width: 313px
		height: 173px
		display: inline-block 
		img
			width: 100%
			display: block
	.honors__slider
		position: relative
		z-index: 1
		&:before
			position: absolute
			content: ''
			top: -28px
			left: -51px
			z-index: -1
			+s(honors-slider-bg)
		.slick-slide
			img
				margin-left: 2%
				width: 98%

//slider
.slideshow
	position: relative
	.slick-slide
		img
			margin-left: 1%
			width: 99%
	.slick-prev, .slick-next
		position: absolute
		top: 0
		height: 100%
		width: 56px
		margin: 0
		z-index: 100
		overflow: hidden 
		background-size: cover
		&:before
			display: none
		&:after
			position: absolute
			content: ''
			bottom: -214px
			left: 0	
			width: 100%
			height: 100%	
			background: rgba(#f3f3f3, 0.7)
		&:hover
			+opacity(0.95)
	.slick-prev
		left: 0
		background: url(../img/slick-prev.png) no-repeat 0 0
	.slick-next
		right: 0
		background: url(../img/slick-next.png) no-repeat 0 0

//action
.action
	height: 583px
	background: url(../img/action2-bg.png) no-repeat 50% 50%
	background-size: cover
	+clr
	.action__left
		display: inline-block 

	.action__top
		position: relative
		padding: 20px 0 30px
		text-align: center
		text-transform: uppercase
		z-index: 2
		&:before
			position: absolute
			content: ''
			top: 8px
			left: 50%
			margin-left: -212px
			z-index: -1
			+s(arr12)
	.action__title
		color: #662d91
		font-size: 26px
		font-weight: 700
	.action__discount
		color: #fff
		font-size: 33px
		span
			font-size: 23px
	// .action__form
	.action__right
		padding-left: 15px
		vertical-align: top
		text-align: center
		display: inline-block
	.action__subscription
		position: relative
		padding: 20px 0 0 0
		color: #fff
		font-weight: 700
		font-size: 50px
		z-index: 1
		&:before
			position: absolute
			content: ''
			top: 18px
			left: -54px
			z-index: -1
			+s(arr14)
		span
			font-size: 20px
			display: block
	.action__oldprice
		position: relative
		margin-top: 30px
		color: #fff
		font-weight: 700
		font-size: 40px
		span
			+opacity(0.5)
		&:before
			position: absolute
			content: ''
			top: 25px
			width: 100%
			height: 5px
			z-index: 1
			background: #fb1f1f
			+border-radius(5px)
			+rotate(-7)
	.action__price
		position: relative
		margin: 75px 0 0 15px
		color: #662d91
		font-size: 97px
		line-height: 0.7
		font-weight: 700
		z-index: 1
		+text-shadow(0 1px 0 rgba(#fff, 0.6))
		&:before
			position: absolute
			content: ''
			top: -78px
			left: -43px
			z-index: -1
			+s(arr15)
		span
			font-size: 66px
			font-weight: 300
	.form__row
		margin-bottom: 10px
		input
			height: 62px
	.action__dashboard
		margin-bottom: 15px
		padding: 8px 0 6px
		text-align: center
		overflow: hidden
		background: url(../img/bg-dashboard.png) no-repeat 0 0
		background-size: cover
		+border-radius(5px)

//dash
.dash
	margin-left: 10px
	font-size: 0
	display: inline-block
	&:first-child
		margin-left: 0
	.digit
		width: 40px
		height: 70px
		color: #4c4c4c
		text-align: center
		font-size: 52px
		vertical-align: top
		display: inline-block
		+s(arr13)
	.dash_title
		padding-top: 2px
		font-size: 10px

//subscriptions
.subscriptions
	.subscriptions__wrap
		text-align: center
		font-size: 0
	.subscriptions__item
		width: 20%
		border: 1px solid #fff
		background: #f4f4f4
		display: inline-block
	.subscriptions__top
		height: 82px
	.subscriptions__title
		margin-bottom: 5px
		color: #662d91
		font-size: 30px
		font-weight: 600
		&.subscriptions__title_mod
			font-size: 17px
			text-transform: uppercase
		&.subscriptions__title_ttu
			text-transform: uppercase
	.subscriptions__type
		margin-bottom: 10px
		color: #333333
		font-size: 18px
		font-weight: 300
		text-transform: uppercase
	.subscriptions__img
		border-top: 1px solid #fff
		border-bottom: 1px solid #fff
		img
			width: 100%
			display: block
	.subscriptions__price
		padding: 10px 0
		color: #f69430
		font-size: 45px
		line-height: 1.1
		font-weight: 600
		span
			font-weight: 300
			font-size: 28px
			text-transform: uppercase
			display: block
	.subscriptions__btn
		padding: 0 15px 15px

//lifestudio
.lifestudio
	.lifestudio__row
		padding-bottom: 20px
	.lifestudio__video
		margin-bottom: 20px
		.video__title
			font-size: 12px

//reviews
.reviews
	.reviews__item
		margin-bottom: 42px
	.reviews__img 
		float: left
	.reviews__text
		position: relative
		padding-bottom: 30px
		height: 175px
		padding-left: 15px
		font-size: 13px 
		overflow: hidden
		p
			padding-right: 30px
		a
			font-size: 14px
			color: #662d91
			text-decoration: underline
			&:hover
				text-decoration: none
	.reviews__title
		margin: 0
		padding-bottom: 5px
		color: #363636
		font-size: 14px
		font-weight: 700
	.reviews__btn
		position: absolute
		bottom: 0
		left: 15px
		font-size: 14px
		color: #662d91
		text-decoration: underline
		background: none
		&:hover
			text-decoration: none


//map
.map
	margin-top: 40px
	height: 740px
	background: url(../img/map-bg.png) no-repeat 50% 50%
	background-size: cover
	.map__head
		margin-top: -40px
	.map__title
		margin-top: 200px
		width: 425px
		color: #fff
		font-size: 26px
		font-weight: 700
		text-align: center
		text-transform: uppercase
	.map__form
		margin: 47px 0 0 35px
		width: 376px
		.form__row
			margin-bottom: 15px
			input
				height: 63px
	.map__addres
		margin-top: 20px
		border: 5px solid #fff
		display: inline-block
		img 
			display: block
//questions
.questions
	height: 110px
	line-height: 110px
	text-align: center
	.questions__title, .questions__btn
		vertical-align: middle
		display: inline-block
	.questions__title
		margin-right: 30px
		color: #662d91
		font-size: 45px
		+mal
	.questions__btn	
		color: #d73367
		font-size: 33px
		text-decoration: underline
		background: none
		&:hover
			text-decoration: none

//contacts
.contacts
	padding-top: 36px
	text-align: center
	height: 255px
	background: url(../img/contacts-bg.png) no-repeat 50% 50%
	background-size: cover
	.contacts__logo
		position: relative
		color: #fff
		text-align: center
		font-size: 50px
		+mc
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			margin: -8px 0 0 -6px
			+s(star)
	.contacts__text
		color: #3e3e3e
		font-size: 28px
	.contacts__callback, .contacts__logo, .contacts__text
		margin: 0 25px
		vertical-align: top
		display: inline-block
	.contacts__phone
		padding-bottom: 10px
		color: #fff
		font-size: 33px
		font-weight: 700
	.contacts__addres
		padding-top: 4px
		font-size: 16px
		color: #fff
//footer
.footer
	height: 98px
	line-height: 98px
	color: #808080
	font-size: 14px
	text-align: right
	.footer__text, .footer__development, .footer__ico
		vertical-align: middle
		display: inline-block
	.footer__development
		height: 40px
		line-height: 40px
		margin-left: 108px
		span
			vertical-align: top
			display: inline-block
	.footer__ico
		vertical-align: top
		+s(logo)

































































